db.sqlite3
scratch/*
scratch
health_check_storage_test
# Elastic Beanstalk Files
.ebextensions
.ebextensions/*
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
CodeDeployEc2Instances.pem
