container_commands:
  01_migrations:
    command: "source /var/app/venv/*/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "mysite.settings"
    DEBUG: "1"
    SECRET_KEY: "q!%7#rdl%5@7#rdl%5@d8its_hjp7+&_qbc$y2x^0hj&#y%d8its_hjp7+&_qbc$y2x^0hj&#y%g8hzr85i28"
  aws:elasticbeanstalk:container:python:
    WSGIPath: mysite.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: "www/static"